.cabecalho {
    background-color: rgb(186, 180, 192);
    height: 100px;
    display: flex;
    /* margin-left: 205px; */
    margin-left: 15%;
    width: 70%;
    padding-top: 20px;
}

.menu {
    width: 30px;
    cursor: pointer;
    margin: 15px 0 0 0;
}

h5 {
    /* margin: 16px 0 0 350px; */
    margin: 2% 0 0 40%;
}

.table {
    width: 70%;
    margin-top: 0px;
}

.netflix, .amazon, .internet {
    cursor: pointer;
    padding-left: 50px;
    background-color: blue;
}

.info {
    width: 20px;
    cursor: pointer;
}

.add {
    margin: 40px 0 0 42%;
}

a {
    text-decoration: none;
    color: black;
}

.adicionar {
    color: white;
}