.botao {
    margin-top: 1.5%;
    margin-right: 3%;
}

.cancelar {
    color: black;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

h1 {
    margin-top: 10px;
    margin-left: 40%;
    margin-bottom: 30px;
}

